@font-face {
    font-family: Gordita;
    src: url(../fonts/gordita.woff);
}

* {
    font-family: Gordita, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif in !important;
    color: #31343b;
}

textearea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0 !important;
    outline: 0;
}

#container {
    background-color: #557cf2;
    width: 100%;
    padding: 20px 0px;
}

.container-inv {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#box-1-subheader {
    width: 45%;
}

#title-box-1 {
    font-size: 40px;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
}

#cargo-box-1 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    width: 20% ;
    padding: 10px 0px 10px 0px !important;
}

#cargo-box-1::placeholder {
    color: #31343b;
}

#icon-cargo-box-1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    border: none;
}

#cargo-area-box-1 {
    width: 50%;
    margin: 0px !important;
}

#area-search {
    display: flex;
    justify-content: space-between;
}

#estado-area-box-1 {
    width: 45%;
    margin: 0px !important;
    cursor: pointer;

}

#select-estado {
    width: 75%;
    padding: 10px 0px 10px 0px;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.subheader-buttons {
    background-color: #f2687a;
    text-align: center;
    color: white;
    margin: 20px auto;
    width: 30%;
    padding: 10px 0px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.subheader-buttons:hover {
    background-color: #d15666;
}

#box-2-subheader {
    width: 45%;
}

#title-area-b2 {
    width:100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

#num-vagas-b2 {
    margin-right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #f2687a;
    
}

#num-vagas-b2::before {
    content: "+";
}

#text-title-b2 {
    font-size: 40px;
    font-weight: bolder;
    color: white;

}

#text-area-b2 {
    color: white;
    margin: 0px auto;
    width: 70%;

}

#button-box-1, #button-b2 {
    display: none;
}

#box-buttons {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.bb-area {
    width: 45%;
}
